# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
certs

# misc
.DS_Store
.env
.vscode

config.json

npm-debug.log
error.log
combined.log