.numClients {
    font-weight: bold;
}

.world-card__16-9-media {
background-repeat: no-repeat;
height: 176px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/defaults/assets/webimg.jpg') center / cover;

}

.world-card {
  background-color: #f5f5f5;
}

.world-link a:link {
  color: #446BA1;
}

.world-link a:hover { 
  background: #E7E7E7;
}

.world-link a:active {
  color: #446BA1;
  background: #E7E7E7;
}
.world-link a:visited {
  color: #446BA1;
  background: #E7E7E7;
}


/* 
border-bottom: 1px solid; 
background: rgb(237, 237, 237);
background: rgb(217, 217, 217);
*/

.featureList {
  list-style: square;
}

.divider {
  border-bottom-width: thin;
}

.actionButton {
  margin: 3px
}


